{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    padding: 2rem 0;
    text-align: center;
    background: transparent;
  }

  .footer__copyright {
    color: white;
    font-size: 1.4rem;
    opacity: 0.8;
  }

  .copyright__content a {
    color: white;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .copyright__content a:hover {
    opacity: 0.6;
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient">
  <div class="footer__copyright">
    <small class="copyright__content"
      >&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
    </small>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
